<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.bacs.dao.AdminDAO">

    <select id="getStoreList" resultType="BacsStore">
        select * from BACS_STORE
    </select>

    <delete id="deleteStore" parameterType="DeleteStoreDTO">
        delete from BACS_STORE where STOREID = #{storeId}
    </delete>

    <update id="blockStore" parameterType="BlockStoreDTO">
        update BACS_USER set ENABLED = 0 where USERID = #{userId}
    </update>

    <update id="rebockStore" parameterType="BlockStoreDTO">
        update BACS_USER set ENABLED = 1 where USERID = #{userId}
    </update>
</mapper>