<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.bacs.dao.CategoryDAO">
    <!-- 카테고리 추가 -->
    <insert id="createCategory" parameterType="BacsCategory">
        insert into bacs_Category (categoryNum, categoryName, storeId)
        values (BACS_CATEGORY_SEQ.nextval
                ,#{categoryName}
                ,#{storeId})
    </insert>

</mapper>