<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.bacs.user.dao.UserDAO">
    <select id="getUser" resultType="BacsUser">
        SELECT  *
        FROM    BACS_USER
        WHERE   userid=#{userId}
    </select>

    <select id="getUserList" resultType="BacsUser">
        select * from BACS_USER
    </select>

    <select id="login" parameterType="BacsUser">
        select * from BACS_USER where userid=#{userid} and userpw=#{userpw}
    </select>

    <insert id="join" parameterType="BacsUser">
        insert into BACS_USER (userid,userpw,EMAIL,PHONE) values (#{userid},#{userpw},#{EMAIL},#{PHONE})
    </insert>

    <select id="saleToday" parameterType="SaleTodayDTO" resultType="int">
        SELECT SUM(totalPrice) AS daily_total_price
        FROM BACS_ORDER
        WHERE TRUNC(orderDate) = TRUNC(SYSDATE) and STOREID = #{storeId}
    </select>

    <select id="salesWeek" parameterType="SaleTodayDTO" resultType="int">
        SELECT SUM(totalPrice) AS weeklyTotalPrice
        FROM BACS_ORDER
        WHERE trunc(ORDERDATE) between trunc(sysdate-7) and trunc(sysdate-1)
        and STOREID = #{storeId}
        order by ORDERNUM desc
    </select>

</mapper>