<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kiosk</title>
    <script src="/js/jquery-3.6.0.js"></script>

    <script>
        $(document).ready(function() {
            $('#menuSubmitButton').click(function() {
                var data = $('#menu, #menuOption').serialize();

                $.ajax({
                    url: 'menuForm',
                    method: 'post',
                    data: data, // 데이터 직렬화한 값
                    success: function(){
                        alert('save');
                    },
                    error: function(){
                        alert('error');
                    }
                });
            });
        });
    </script>
</head>
<body>
<h1>키오스크</h1>
<ul>
    <li><a href="/kiosk/menuForm">메뉴 등록</a></li>
    <li><a href="/kiosk/menuList">메뉴 편집</a></li>
</ul>

<form th:action="@{/menuForm}" method="post" id="menu" name="menu">
    <table>
        <tr>
            <td>메뉴이름</td>
            <td><input type="text" name="menuName" id="menuName"></td>
        </tr>
        <tr>
            <td>메뉴가격</td>
            <td><input type="text" name="menuPrice" id="menuPrice"></td>
        </tr>
        <tr>
            <td>매장이름</td>
            <td><input type="text" name="storeId" id="storeId"></td> <!-- 원래는 자동저장값 -->
        </tr>
        <tr>
            <td>옵션 카테고리</td>
            <td><input type="text" name="optionName" id="optionName"></td>
        </tr>
        <tr>
            <td>옵션 이름</td>
            <td><input type="text" name="optionValue" id="optionValue"></td>
        </tr>
        <tr>
            <td>옵션 가격</td>
            <td><input type="text" name="optionPrice" id="optionPrice"></td>
        </tr>
        <tr>
            <td><input type="button" value="등록" id="menuSubmitButton"></td>
        </tr>
    </table>
</form>
</body>
</html>